<div class="container">
    <h1 class="mb-2">Loan Calculator</h1>

    <div class="row">
        <div class="col"></div>
        <div class="col"></div>
    </div>

    <div class="row">
        <div class="col"></div>
    </div>
</div>

